.cabecalho a {
text-decoration: none;
font-size: 20px;
padding: 15px;
display:inline-block;
}
ul {
display: inline;
margin: 0;
padding: 0;
}
ul li {
display: inline-block;
}
ul li:hover {
background-color: white;
}
ul li:hover ul {
display: block;
}
ul li ul {
position: absolute;
width: 200px;
display: none;
}
ul li ul li { 
background-color: white; 
display: block; 
}
ul li ul li a {
display:block;
}
ul li ul li:hover {
background: #33C3F0;
}
#sair{
float: right;
}
a{
	text-decoration: none;
}