.cabecalho a {
text-decoration: none;
font-size: 20px;
padding: 15px;
display:inline-block;
}
ul {
display: inline;
margin: 0;

padding: 0;
}
ul li {
display: inline-block;
}
ul li:hover ul {
display: block;
}
ul li ul {
position: absolute;
width: 200px;
display: none;
}
ul li ul li { 
background-color: white;
min-width: 200px;  
display: block; 
}
ul li ul li a {
display:block;
}
ul li ul li:hover {
background: #33C3F0;
}
#sair{
float: right;
}


a{
    text-decoration: none;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: black;
  overflow-x: hidden;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: black;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: white;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: px;
  text-align: center;
  background: white;
  margin-top: 20px;
  margin-left: -10px;
  position:absolute;
  bottom:0;
  width:100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

body{
	margin: 0;
}

li {
    float: left;
}

